# Ignoring node modules and source files
**/node_modules/
*.db

# Ignoring build artifacts
**/build/
**/package-lock.json
network-monitor_dev

# Ignoring Python cache files and environment variables
__pycache__/
*.pyc
.env
*.crt
.vscode
venv
**workspace

# Ignoring React build artifacts
**/node_modules