# Ignoring node modules and source files
**/node_modules/
**/config/

# Ignoring build artifacts
**/build/
**/package-lock.json
**/package.json
network-monitor_dev

# Ignoring Python cache files and environment variables
__pycache__/
*.pyc
.env
*.crt
.vscode
.venv
*.code-workspace