[Unit]
Description=NetWatch
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/netwatch
EnvironmentFile=-/opt/netwatch/.env
ExecStart=/opt/netwatch/venv/bin/python3 /opt/netwatch/src/main.py
Restart=always

[Install]
WantedBy=multi-user.target